.--images-container {
    display: flex;
    justify-content: space-between;
}

#slides
  {
    /* height:100%;  
    margin:0px;
    padding:0px; */
    list-style:none;
    padding-left: 0;
    position:absolute;
    width: 100%;
  }

#slides li {
    /* position: absolute;
    width: 100%;
    z-index: 1; */
}

.slide 
  {
    position: relative;
    float: left;
    margin: 0;
    padding: 15% 8%;
    width: 100%;
    /* background-color: lightgreen; */
  }

.dead { display: none; }

.nav 
  { 
    position:absolute; 
    z-index:9; 
    top:40%; 
    cursor:pointer; 
    color:#fff; 
    opacity:0.7; 
    transition: all 0.66s ease; -webkit-transition: all 0.66s ease; 
  }

.nav:hover { opacity:1.0; }
#left { left:3%; }
#right { right:13%; }